.skill__section__wrapper {
  display: flex;
  gap: 6rem;
}
.project__card__wrapper {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}
.project__card {
  background-color: var(--dimgrey);
  width: 20rem;
  padding: 1rem;
  border-radius: var(--borderRadius);
}
.project__description {
  font-size: small;
  opacity: 0.5;
}

.project__footer {
  position: relative;
  z-index: 9;
  font-size: small;
  color: rgb(119, 119, 119);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alt__descr{
  display: none;
 }

.skill {
  display: flex;
  gap: 0.2rem;
}

.skills__and__resume {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  background-color: var(--dimgrey);
  min-width: 12rem;
  padding: 1rem;
  border-radius: var(--borderRadius);
}
.skill__wrapper {
}

.project__title {
  margin: 0;
}

.resume__wrapper {
  margin-top: 1.5rem;
  padding: 0.5rem;
  z-index: 9;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  border-top: 1px dashed var(--mildGreen);
  align-items: center;
  /* border-; */
}

.resume__wrapper > a > button {
  margin-top: 0.5rem;
  color: var(--dimgrey);
  background-color: var(--mildGreen);
}
.resume__wrapper > a > button:hover {
  scale: 1.03;
  border: 0;
}

@media only screen and (max-width: 1100px) {
  .project__card__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .project__skills {
    font-size: smaller;
  }
  .alt__descr{
    display: none;
   }
}

@media only screen and (max-width: 708px) {
  .skill__section__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .project__card {
    width: 100%;
    border-radius: 0.8rem;
    padding: 0.5rem;
  }
  .project__card__wrapper {
    width: 80vw;
  }
  .project__description {
    display: none;
  }

  .project__skills {
    display: none;
  }
  .skills__and__resume {
    width: 80vw;
    /* max-width: 80vw; */
    padding:1rem 0.5rem ;
  }
  .skill__wrapper {
    display: grid;
    grid-template-columns: auto auto;
  }

  .skill,
  .resume__wrapper {
    margin-top: 0;
    font-size: smaller;
    padding-bottom: 0;
  }
  .resume__wrapper > p {
    display: none;
  }

  .project__footer > div > a > svg {
    margin-top: 0.8rem;
    height: 20px;
    width: 20px;
  }
  .project__footer > p {
    margin: 0;
  }
  .alt__descr{
   display: block;
  }

  .project__type{
    display: none;
  }
}
