.nav__bar > div > p {
  margin: 0;
}
.side__nav__wrapper {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  color: #fff;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 9900;
  overflow: hidden;
  display: block;
}
.side__nav {
  display: flex;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  position: fixed;
  flex-direction: column;
  padding: 1rem 1.5rem;
  z-index: 900;
  height: 90vh;
  top: 2rem;
  right: 2rem;
  transition: 1s;
  justify-content: space-between;
  /* position: relative; */
}

.nav__close__btn {
  border: 0;
  width: fit-content;
  align-self: flex-end;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: #fff;
}

.nav__close__btn:hover {
  color: var(--mildGreen);
}
.hamburger {
  transition: scale 1s ease-in-out;
}
.hamburger:hover {
  scale: 1.3;
}
.navigation {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.navigation > a {
  font-size: 3rem;
  color: #fff;
  margin: 0;
  transition: 0.6s ease-in-out;
}

.nav_link_item {
  color: var(--mildGreen);
  text-decoration: none;
}
.nav_link_item:hover {
  color: var(--mildGreen);
  opacity: 0.6;
}

.smaller__device__nav {
  display: none;
}

.large__device__nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.social__links__Resume__wrapper {
  justify-self: flex-end;
  margin-top: 90%;
  background-color: var(--dimgrey);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
}
.download__resume {
  margin-top: 2rem;
}
.download__resume:hover {
  scale: 1;
}

.social__links {
  font-size: 1.8rem;
  color: #fff;
  display: flex;
  gap: 1rem;
}

@keyframes slideSideNav {
  from {
    right: -20rem;
  }
  to {
    right: 2rem;
  }
}

@media only screen and (max-width: 810px) {
}
@media only screen and (max-width: 600px) {
  .navigation > a {
    font-size: 2rem;
    color: #fff;
    margin: 0;
    transition: 0.6s ease-in-out;
  }
  .nav__bar {
    width: 90vw;
    padding: 0 0.5rem;
    position: absolute;
    margin: 0;
    margin-top: 1rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .smaller__device__nav {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .large__device__nav {
    display: none;
  }

  .side__nav__wrapper {
    align-items: center;
    justify-content: center;
  }
  .side__nav {
    left: 30;
    /* width: 80vw; */
  }
}
